---
# All available hooks: https://pre-commit.com/hooks.html
# R specific hooks: https://github.com/lorenzwalthert/precommit
default_stages: [pre-commit]
default_language_version:
  python: python3
repos:
  - repo: https://github.com/lorenzwalthert/precommit
    rev: v0.4.3.9015
    hooks:
      - id: style-files
        name: Style code with `styler`
        args: [--style_pkg=styler, --style_fun=tidyverse_style,
              --cache-root=styler]
      - id: roxygenize
        name: Regenerate package documentation
        additional_dependencies:
          - insightsengineering/teal.slice # missing
          - davidgohel/flextable # Error: package 'flextable' is not available
          - davidgohel/gdtools # for flextable
          - insightsengineering/teal
          - insightsengineering/teal.transform
          - tern
          - broom
          - checkmate
          - dplyr
          - DT
          - ggplot2
          - ggrepel
          - grid
          - lifecycle
          - logger
          - methods
          - rlistings
          - rmarkdown
          - scales
          - shiny
          - shinyjs
          - shinyvalidate
          - shinyWidgets
          - stats
          - insightsengineering/roxy.shinylive
          - insightsengineering/teal.code
          - insightsengineering/teal.data
          - insightsengineering/teal.logger
          - insightsengineering/teal.reporter
          - insightsengineering/teal.widgets
          - insightsengineering/tern.gee
          - insightsengineering/tern.mmrm
          - insightsengineering/rtables
          - insightsengineering/rtables.officer
          - insightsengineering/formatters
          - utils
          - vistime
      - id: spell-check
        name: Check spelling with `spelling`
        exclude: >
          (?x)^(
          .*\.[rR]|
          .*\.css|
          .*\.jpg|
          .*\.js|
          .*\.png|
          .*\.py|
          .*\.RData|
          .*\.Rds|
          .*\.rds|
          .*\.Rproj|
          .*\.sh|
          .*\.svg|
          .*\.xml|
          (.*/|)\_pkgdown.y[a]?ml|
          (.*/|)\.covrignore|
          (.*/|)\.gitignore|
          (.*/|)\.gitlab-ci\.y[a]?ml|
          (.*/|)\.lintr|
          (.*/|)\.pre-commit-.*|
          (.*/|)\.Rbuildignore|
          (.*/|)\.Renviron|
          (.*/|)\.Rprofile|
          (.*/|)CODEOWNERS|
          (.*/|)DESCRIPTION|
          (.*/|)LICENSE|
          (.*/|)NAMESPACE|
          .*-package.Rd|
          (.*/|)staged_dependencies\.y[a]?ml|
          (.*/|)WORDLIST|
          \.github/.*\.y[a]?ml|
          data/.*
          )$
