/* teal.modules.clinical custom css */

.bg-orange {
  background-color: orange;
}

.text-dark {
  color: black;
}

.overflow-y-scroll {
  overflow-y:scroll
}

.max-h-250 {
  max-height: 250px
}

.mb-4 {
  margin-bottom: 1rem;
}

.btn.disabled {
  color: grey;
  background-color: white;
}
